@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
html {
  background: #fff;
  overflow-y: scroll; 
}

body {
  font: 12px 'Inconsolata', monospace !important;
  color: #181818;
  font-weight: 400;
  max-width: 100em;
  padding: 1em;
}

::selection{
  background: #eee
}

::-webkit-selection{
  background: #eee
}

::-moz-selection{
  background: #eee
}

a{
  color: #181818;
}

a:hover,a:focus{
  background: #181818;
  color:#fff;
}
h2{
  
  font-weight: 400;
}
p{
  margin-bottom:2em;
}
abbr{
  cursor: help;
}
ul{
  list-style: none;
  padding: 0;
}
li{
  margin:1em 0 0;
}
span{
  display: block;
  color:#999;
  line-height:1;
}

kbd{
  font-family: 'Inconsolata', monospace;
  border:1px solid #999;
  text-transform: uppercase;
  padding:0 .1em;
}
input[type="text"]{
  max-width: 100em;
  border: none;
  font-family: inherit;
  background: #fff;
  padding:0 .5em;
}
input[type="text"]:focus{
  background: #fff;
  color: #000;
  outline:none;
}
.command{
  display: block;
  max-width: 100em;
  color: #181818;
  font-weight: 700;
  margin: 2em 0;
  font-size: 12px;
}


section{
  display: none;
}
.open{
  display: block;
}
